{% extends "base.html" %}
{% load static %}
{% block title %}Add Product{% endblock %}

{% block body %}
<!-- component -->
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
        <div class="container max-w-screen-lg mx-auto">
            <div>
                <h2 class="font-semibold text-xl text-gray-600">Add Product</h2>
                <p class="text-gray-500 mb-6">Add your selling product.</p>

                <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                        <div class="text-gray-600">
                            <p class="font-medium text-lg">Product Details</p>
                            <p>Please fill out all the fields.</p>
                        </div>

                        <div class="lg:col-span-2">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="name">Product Name</label>
                                    <input type="text" name="name" id="name"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                </div>

                                <div class="md:col-span-5">
                                    <label for="description">Description</label>
                                    <textarea name="description" id="description"
                                        placeholder="Write the product description here."
                                        class="h-15 border mt-1 rounded px-4 w-full bg-gray-50"></textarea>
                                    <!-- <input type="text" name="description" id="description" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="Write the product description here." /> -->
                                </div>

                                <div class="md:col-span-1">
                                    <label for="price">Price</label>
                                    <input type="number" name="price" id="price"
                                        class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                        placeholder="" value="" />
                                </div>

                                <div class="md:col-span-1">
                                    <label for="quantity">Quantity</label>
                                    <input type="number" name="quantity" id="quantity"
                                        class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                        placeholder="" value="" />
                                </div>

                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        <button type="cancel" class="bg-red-500 m-2 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Cancel</button>
                                        <button type="submit" class="bg-blue-500 m-2 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}