<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
        Home
    </title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <nav class="bg-white shadow-md p-4">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo -->
            <a href="#" class="text-xl font-bold text-gray-800">MyShop</a>

            <!-- Navigation Links -->
            <div class="space-x-4">
                <a href="{% url 'addProduct' %}" class="text-gray-600 hover:text-blue-500">Add Product</a>
                <a href="{% url 'showProduct' %}" class="text-gray-600 hover:text-blue-500">View Products</a>
            </div>
        </div>
    </nav>
    <div>
        {% block body %}{% endblock %}
    </div>
    <script src="{% static 'js/main.js' %}" ></script>
</body>

</html>